<form [formGroup]="lesson">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Opis {{index}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field appearance="outline">
      <mat-label>Przedmiot</mat-label>
      <input matInput formControlName="course" [matAutocomplete]="autoCourse">
      <mat-autocomplete autoActiveFirstOption #autoCourse="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptionsCourse | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Poziom</mat-label>
      <input matInput formControlName="level" [matAutocomplete]="autoLevel">
      <mat-autocomplete autoActiveFirstOption #autoLevel="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptionsLevel | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Koszt lekcji</mat-label>
      <input matInput #input type="number" placeholder="0" class="number-input" formControlName="cost">
      <span matSuffix>zł/h</span>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Liczba godzin zajęć tygodniowo</mat-label>
      <input matInput #input type="number" placeholder="2" class="number-input" formControlName="hoursWeekly">
      <span matSuffix>h</span>
    </mat-form-field>

    <button mat-fab color="accent" (click)="settingsTutor.removeLesson(index)">
      <mat-icon>delete</mat-icon>
    </button>

  </mat-expansion-panel>
</form>
