mat-card {
  margin: 2em;
  padding: 2em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 17px;
}

.opinion-rating {
  height: auto;
  width: 32em;
}

.written-opinion {
  resize: none;
}

.opinion {
  width: 100%;
}

.star-rating {
  margin-bottom: 1em;
}

.star {
  font-size: 1.5rem;
  color: #f6dfb5;
}
.filled {
  color: #ffb01e;
}

.send-icon {
  float: right;
}
