<mat-card class="opinion-rating">
  <p class="title">
    Oceń korepetyrora: {{tutor.fullName}}
  </p>

  <div class="star-rating">
    <ngb-rating [(rate)]="score" [max]="5">
      <ng-template let-fill="fill">
        <span class="star" [class.filled]="fill === 100">&#9733;</span>
      </ng-template>
    </ngb-rating>
  </div>

  <mat-form-field class="opinion" appearance="fill">
    <mat-label>Zostaw opinię</mat-label>
    <textarea class="written-opinion" matInput #message maxlength="300" rows="8"></textarea>
    <mat-hint align="start"><strong>Dodanie opinii jest opcjonalne</strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 300</mat-hint>
  </mat-form-field>

  <div class="actions">
    <button mat-icon-button aria-label="Icon send button" class="send-icon"
            (click)="handleSendReview()">
      <mat-icon color="primary">send</mat-icon>
    </button>
  </div>
</mat-card>
