.main-div {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.close-popup {
  float: right;
}

mat-dialog-actions {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
