.favorite-tutor-card {
  height: auto;
  width: 25em;
}

.flip-card {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.front-tutor-card {
  position: absolute;
  -webkit-transform : rotateY(0deg);
  -ms-transform     : rotateY(0deg);
  transform         : rotateY(0deg);
}
.back-tutor-card {
  -webkit-transform : rotateY(-180deg);
  -ms-transform     : rotateY(-180deg);
  transform         : rotateY(-180deg);
}

// front
mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  margin: 1em;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform         : transform 1s;
}

.front-tutor-card {
  display: grid;
  grid-template-rows: 0.1fr 0.8fr 0.2fr 0.1fr 2fr;
  grid-template-columns: auto;
  grid-template-areas:
    "buttons"
    "header"
    "divider"
    "rating"
    "main";

  margin: 1em;
}

mat-divider {
   grid-area: divider;
}

mat-card-header {
  grid-area: header;
}

mat-card-content.front-tutor-card {
  grid-area: main;

  height: auto;
  width: auto;

  padding: 1em;
  margin: 1em;
}

mat-card-content {
  margin: 1em;
}

mat-card-actions {
  grid-area: buttons;

  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-top: 1em;
  margin-bottom: 0;

  float: right;
}

.header-tutor-card-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png');
  background-size: cover;

  margin: 10px;
}

.rate-icon{
  float: right;
  color: #8f8f8f;
}

.favorite-icon {
  float: right;
  color: crimson;
}

// back
mat-card-content.back-tutor-card {
  height: auto;
  width: auto;

  padding: 1em ;
}

.back-tutor-card {
  height: 25em;
  width: 25em;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.tutor-gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.tutor-card-photo-gallery {
  height: 20em;
  width: 21em;

  padding: 0.4em;
  //margin-bottom: 1em;
}

.rating {
  grid: "rating";
  margin-left: 1em;
}

pre {
  display: inline;
  margin-left: 0.5em;
}

.star {
  font-size: 1.5rem;
  color: #f6dfb5;
}
.filled {
  color: #ffb01e;
}
