<mat-card class="favorite-tutor-card" (click)="toggleFlip()" [@flipState]="visibleSide">
  <div class="front-tutor-card flip-card">
    <mat-card-header>
      <div mat-card-avatar class="header-tutor-card-image"></div>
      <mat-card-title>{{tutor.fullName}}</mat-card-title>
      <mat-card-subtitle>Email: {{tutor.email}}</mat-card-subtitle>
      <mat-card-subtitle>Telefon: {{tutor.phoneNumber}}</mat-card-subtitle>
    </mat-card-header>
    <app-static-star-rating [starRatingAverage]="tutor.score"></app-static-star-rating>
    <mat-divider inset></mat-divider>

    <mat-card-content>
      <p><b>Przedmiot:</b>
        <span *ngFor="let lesson of tutor.lessons; let last = last">
          {{lesson.subject.name}}<span *ngIf="!last"> ● </span>
        </span>
      </p>
      <p><b>Poziom:</b>
        <span *ngFor="let lesson of tutor.lessons; let last = last">
          <span *ngFor="let level of lesson.levels; let lastLevel = last">
            {{level.name}}<span *ngIf="!last && !lastLevel">, </span>
            <span *ngIf="lastLevel && !last"> ● </span>
          </span>
        </span>
      </p>
      <p><b>Język:</b>
        <span *ngFor="let lesson of tutor.lessons; let last = last">
          <span *ngFor="let language of lesson.languages; let lastLanguage = last">
            {{language.name}}<span *ngIf="!last && !lastLanguage">, </span>
            <span *ngIf="lastLanguage && !last"> ● </span>
          </span>
        </span>
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-icon-button aria-label="Icon review button" class="rate-icon"
              (click)="handleAddReviewButton()" (click)="$event.stopPropagation()">
        <mat-icon>rate_review</mat-icon>
      </button>
      <button mat-icon-button aria-label="Icon see reviews button" class="reviews-icon"
              (click)="openDialog()" (click)="$event.stopPropagation()">
        <mat-icon>reviews</mat-icon>
      </button>
      <button mat-icon-button aria-label="Icon favorite button" class="tutor-card-icon favorite-icon"
              (click)="handleFavoritesButton()" (click)="$event.stopPropagation()">
        <mat-icon *ngIf="isFavorite">favorite</mat-icon>
        <mat-icon *ngIf="!isFavorite">favorite_border</mat-icon>
      </button>
    </mat-card-actions>
  </div>

  <div class="back-tutor-card flip-card">
    <mat-card-content>
      <div class="tutor-gallery-container" (click)="$event.stopPropagation()">
        <gallery [gallerize]="'gallerize-' + tutor.id" [id]="'gallery-' + tutor.id" class="tutor-card-photo-gallery" [items]="images"
                 imageSize="cover"
                 thumbPosition="bottom"
                 thumbView="default"
                 [thumbWidth]="50"
                 [thumbHeight]="30"
                 [dots]="true"
                 [counter]="false">
        </gallery>
      </div>
    </mat-card-content>
  </div>
</mat-card>




