<mat-tab-group mat-align-tabs="center" *ngIf="router.url === '/settings'">
  <mat-tab label="Podstawowe">
    <app-settings-general></app-settings-general>
  </mat-tab>

  <mat-tab label="Uczeń">
    <app-settings-student></app-settings-student>
  </mat-tab>

  <mat-tab label="Korepetytor">
    <app-settings-tutor></app-settings-tutor>
  </mat-tab>
</mat-tab-group>

<mat-stepper linear #stepper *ngIf="router.url === '/settings/init'">
  <mat-step [completed]="generalStepCompleted">
    <ng-template matStepLabel>Uzupełnij podstawowe informacje</ng-template>
    <app-settings-general></app-settings-general>
  </mat-step>
  <mat-step [completed]="studentStepCompleted">
    <ng-template matStepLabel>Uzupełnij informacje jako uczeń</ng-template>
    <app-settings-student></app-settings-student>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Uzupełnij informacje jako korepetytor</ng-template>
    <app-settings-tutor></app-settings-tutor>
  </mat-step>
</mat-stepper>
