<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Podstawowe">
    <section class="settings-section">
      <p>
        <mat-checkbox class="example-margin">Chcę być uczniem.</mat-checkbox>
        <mat-checkbox class="example-margin">Chcę być korepetytorem.</mat-checkbox>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Imię</mat-label>
          <input matInput #input maxlength="20" placeholder="Np. Jan">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">

          <!--<mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>-->
          <mat-label>Nazwisko</mat-label>
          <input matInput #input maxlength="20" placeholder="Np. Kowalski">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Data urodzenia</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Miasto</mat-label>
          <input matInput #input maxlength="20" placeholder="Np. Warszawa">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Ulica</mat-label>
          <input matInput #input maxlength="20" placeholder="Np. Jana Pawła II">
        </mat-form-field>
      </p>

      <div class="small-mat-forms">
        <mat-form-field appearance="outline" class="small-mat-form-field">
          <mat-label>Numer domu</mat-label>
          <input matInput #input maxlength="20" placeholder="Np. 21">
        </mat-form-field>

        <mat-form-field appearance="outline" class="small-mat-form-field">
          <mat-label>Numer mieszkania (opcjonalne)</mat-label>
          <input matInput #input maxlength="20" placeholder="Np. 37">
        </mat-form-field>
      </div>

    </section>
  </mat-tab>


  <mat-tab label="Uczeń">
    
  </mat-tab>


  <mat-tab label="Korepetytor">
    Korepetytor
  </mat-tab>
</mat-tab-group>
