.rating {
  grid: "rating";
  margin-left: 1em;
}

pre {
  display: inline;
  margin-left: 0.5em;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  color: #f6dfb5;
}
.filled {
  color: #ffb01e;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #ffb01e;
}
