mat-form-field {
  width: 100%;
}

.status-checkbox {
  margin: 0 10px;
}

.small-mat-forms {
  display: grid;
  grid-template-columns: auto auto;
}

input.money-input::-webkit-outer-spin-button,
input.money-input::-webkit-inner-spin-button {
  display: none;
}

input.number-input {
  -moz-appearance: textfield;
}

#add-button {
  margin: 10px;
  float: left;
}

.save-settings-button {
  margin: 10px;
  // margin-top: 30px;
  float: right;
}

.card-div {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.small-card {
  height: 120px;
  width: 250px;
}
