// @import "../settings/settings.component.scss"; // TODO czemu nie działa?

.main-div {
  max-width: 32em;
  margin: 2em;
  margin-left: auto;
  margin-right: auto;
}

.status-checkbox {
  margin: 0 10px;
}

.status-slider {
  margin: 0 10px;
}

mat-form-field {
  width: 100%;
  margin: 5px;
}

.small-mat-forms {
  display: grid;
  grid-template-columns: auto auto;
}

input.money-input::-webkit-outer-spin-button,
input.money-input::-webkit-inner-spin-button {
  display: none;
}

input.number-input {
  -moz-appearance: textfield;
}

#add-button {
  margin: 10px;
  float: left;
}

.save-settings-button {
  margin: 5px;
  float: right;
}

p {
  margin: 10px;
}
