@use '@angular/material' as mat;
@include mat.core();

$app-primary-light: mat.define-palette(mat.$indigo-palette);
$app-primary-dark: mat.define-palette(mat.$blue-palette);
$app-accent: mat.define-palette(mat.$pink-palette);
$app-warn: mat.define-palette(mat.$red-palette);

$theme-dark: mat.define-dark-theme((
  color: (
    primary: $app-primary-dark,
    accent: $app-accent,
    warn: $app-warn,
  )
 ));
$theme-light: mat.define-light-theme((
  color: (
    primary: $app-primary-light,
    accent: $app-accent,
    warn: $app-warn,
  )
 ));

@include mat.all-component-themes($theme-light);

.color-scheme-dark {
  @include mat.all-component-colors($theme-dark);
}
