<div class="main-div">
   <mat-card class="my-card">
    <mat-card-title>Obsługa sugestii użytkowników</mat-card-title>

    <mat-card-content class="my-card-component">

      <div class="buttons">
        <div class="left-button">
          <button mat-raised-button color="accent" type="submit" (click)="Approve()" [disabled]="isSaving">Zaakceptuj</button>
          <mat-spinner *ngIf="isSaving" diameter="30"></mat-spinner>
        </div>

        <div class="right-button">
          <button mat-raised-button color="accent" type="submit" (click)="Remove()" [disabled]="isSaving">Odrzuć</button>
          <mat-spinner *ngIf="isSaving" diameter="30"></mat-spinner>
        </div>
      </div>

      <form [formGroup]="subjectForm">
        <mat-form-field appearance="outline">
          <mat-label>Przedmioty</mat-label>
          <mat-select formControlName="subjects" multiple>
            <mat-option *ngFor="let subject of subjects" [value]="subject.id">
              {{subject.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <form [formGroup]="levelForm">
        <mat-form-field appearance="outline">
          <mat-label>Poziomy</mat-label>
          <mat-select formControlName="levels" multiple>
            <mat-option *ngFor="let level of levels" [value]="level.id">
              {{level.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <form [formGroup]="languageForm">
        <mat-form-field appearance="outline">
          <mat-label>Języki</mat-label>
          <mat-select formControlName="languages" multiple>
            <mat-option *ngFor="let language of languages" [value]="language.id">
              {{language.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

    </mat-card-content>
  </mat-card>
</div>
