mat-card {
  display: grid;
  grid-template-rows: 1fr 0.1fr 8fr 0.6fr;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "divider"
    "main"
    "buttons";

  margin: 2em;
}

.tutor-display-card {
  height: auto;
  //width: auto;
  width: 40em;
}

mat-divider {
  grid-area: divider;
}

mat-card-header {
  grid-area: header;
}

mat-card-content {
  grid-area: main;

  //height: max-content;
  //width: max-content;

  height: auto;
  width: auto;

  padding: 1em ;
}

mat-card-actions {
  grid-area: buttons;

  padding-left: 2.5em;
  padding-right: 2.5em;
}

.tutor-card-lessons-list {
  width: auto;
  height: auto;

  padding: 1em;
}

.tutor-card-lesson-display {
  padding-bottom: 1em;
}

.tutor-gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.tutor-card-photo-gallery {
  height: 30em;
  width: 36em;

  padding: 0.4em;
  margin-bottom: 2em;
}

.header-tutor-card-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png');
  background-size: cover;
}

.next-icon {
  float: right;
}

.favorite-icon {
  float: left;

  color: crimson;
}

.tutor-card-icon {
  transform: scale(1.5);
}

pre {
  margin-left: 0.5em;
}

.star-rating {
  margin-bottom: 1em;
}

.star {
  font-size: 1.5rem;
  color: #f6dfb5;
}
.filled {
  color: #ffb01e;
}
