<mat-card class="tutor-display-card">
  <mat-card-header>
    <div mat-card-avatar class="header-tutor-card-image"></div>
    <mat-card-title>{{tutor.fullName}}</mat-card-title>
    <mat-card-subtitle>Email: {{tutor.email}}</mat-card-subtitle>
    <mat-card-subtitle>Telefon: {{tutor.phoneNumber}}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider inset></mat-divider>
  <mat-card-content>
    <div class="tutor-gallery-container">
      <gallery class="tutor-card-photo-gallery" [items]="items"
               imageSize="cover"
               thumbPosition="bottom"
               thumbView="default"
               [thumbWidth]="50"
               [thumbHeight]="30"
               [dots]="true"
               [counter]="false">
      </gallery>
    </div>

    <div class="tutor-card-lessons-list">
      <mat-accordion>
        <h3>Zajęcia:</h3>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             *ngFor="let lesson of tutor.lessons" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Przedmiot: {{lesson.subject.name}}
            </mat-panel-title>
            <mat-panel-description>
              <span *ngIf="!panelOpenState">{{lesson.cost}} zł, {{lesson.frequency}} h/tyg</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="tutor-card-lesson-display">
            <p>Koszt: {{lesson.cost}} zł</p>
            <p>Częstotliwość: {{lesson.frequency}} h/tyg</p>
            <p>Poziom:
              <span *ngFor="let level of lesson.levels; let last = last">{{level.name}}<span *ngIf="!last">, </span>
            </span>
            </p>
            <p>Język:
              <span *ngFor="let language of lesson.languages; let last = last">{{language.name}}<span *ngIf="!last">, </span>
            </span>
            </p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-icon-button aria-label="Icon favorite button" class="tutor-card-icon favorite-icon"
            (click)="handleFavoritesButton()">
      <mat-icon *ngIf="tutor.isFavorite">favorite</mat-icon>
      <mat-icon *ngIf="!tutor.isFavorite">favorite_border</mat-icon>
    </button>
    <button mat-icon-button color="primary" aria-label="Icon next button" class="tutor-card-icon next-icon"
            (click)="getNextTutor()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
