<mat-card class="tutor-display-card">
  <mat-card-header>
    <div mat-card-avatar class="header-tutor-card-image"></div>
    <mat-card-title>{{tutor.name}}</mat-card-title>
    <mat-card-subtitle>Kontakt: {{tutor.contactInfo}}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider inset></mat-divider>
  <mat-card-content>
    <p>
      {{tutor.description}}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-icon-button aria-label="Icon favorite button" class="tutor-card-icon favorite-icon"
            (click)="addToFavorites()">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" aria-label="Icon next button" class="tutor-card-icon next-icon"
            (click)="getNextTutor()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
